{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('tweet') }}"  method=post>
      <p>
          Tweet:
          <input type=text name=tweetText size=40>
          <input type=submit value="Tweet">
      </p>
    </form>

    <form action="{{ url_for('retweet') }}"  method=post>
      <p>
          Retweet (Tweet ID):
          <input type=text name=tweetId size=40>
          <input type=submit value="Retweet">
      </p>
    </form>

    <form action="{{ url_for('retweet') }}"  method=post>
      <p>
          Retweet (Tweet ID):
          <input type=text name=tweetId size=40>
          <input type=submit value="Retweet">
      </p>
    </form>

    <br/>
    <h3>Mis tweets</h3>

    # Si hay tweets mostrarlos
    
{% endblock %}
