{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('tweet') }}"  method=post>
      <p>
          Tweet:
          <input type=text name=tweetText size=40>
          <input type=submit value="Tweet">
      </p>
    </form>

    <form action="{{ url_for('retweet') }}"  method=post>
      <p>
          Retweet (Tweet ID):
          <input type=text name=tweetId size=40>
          <input type=submit value="Retweet">
      </p>
    </form>

    <form action="{{ url_for('likeTweet') }}"  method=post>
      <p>
          Like (Tweet ID):
          <input type=text name=tweetId size=40>
          <input type=submit value="Like">
      </p>
    </form>

    <form action="{{ url_for('dislikeTweet') }}"  method=post>
      <p>
          Undo like (Tweet ID):
          <input type=text name=tweetId size=40>
          <input type=submit value="Undo Like">
      </p>
    </form>


    <form action="{{ url_for('deleteTweet') }}"  method=post>
      <p>
          Delete tweet [Tweet ID]:
          <input type=text name=userId size=40>
          <input type=submit value="Delete">
      </p>
    </form>


    <form action="{{ url_for('follow') }}"  method=post>
      <p>
          Follow user with ID:
          <input type=text name=userId size=40> &nbsp;
          or with username: &nbsp;
          <input type=text name=userId size=40>
          <input type=submit value="Follow">
      </p>
    </form>

    <form action="{{ url_for('unfollow') }}"  method=post>
      <p>
          Unfollow user with ID:
          <input type=text name=userId size=40> &nbsp;
          or with username: &nbsp;
          <input type=text name=userId size=40>
          <input type=submit value="Follow">
      </p>
    </form>

    <br/>
    <h3>Mis tweets</h3>

    # Si hay tweets mostrarlos
    
{% endblock %}
