{% extends "layout.html" %}
{% block body %}

  <div class="container-fluid" style="border-style: solid; border-color: #F2F2F2; width: 50%">
    <h3 style="font-weight: bold;">Acciones</h3>
      <br>
    <form action="{{ url_for('tweet') }}"  method=post>
      <p>
          Tweet:
          <input type=text name=tweetText size=40>
          <button type="submit" class="btn btn-primary">Tweet</button>
      </p>
    </form>


    <form action="{{ url_for('deleteTweet') }}"  method=post>
      <p>
          Delete tweet (Tweet ID):
          <input type=text name=tweetId size=40>
          <button type="submit" type="button" class="btn btn-danger">Delete</button>
      </p>
    </form>

    <form action="{{ url_for('retweet') }}"  method=post>
      <p>
          Retweet (Tweet ID):
          <input type=text name=tweetId size=40>
          <button type="submit" class="btn btn-primary">Retweet</button>
      </p>
    </form>

    <form action="{{ url_for('likeTweet') }}"  method=post>
      <p>
          Like (Tweet ID):
          <input type=text name=tweetId size=40>
          <button type="submit" class="btn btn-primary">Like</button>
      </p>
    </form>

    <form action="{{ url_for('dislikeTweet') }}"  method=post>
      <p>
          Remove like (Tweet ID):
          <input type=text name=tweetId size=40>
          <button type="submit" class="btn btn-danger">Remove Like</button>
      </p>
    </form>

    <form action="{{ url_for('follow') }}"  method=post>
      <p>
          Follow user with ID:
          <input type=text name=userId size=40> &nbsp;
          or with username: &nbsp;
          <input type=text name=username size=40>
          <button type="submit" class="btn btn-primary">Follow</button>
      </p>
    </form>

    <form action="{{ url_for('unfollow') }}"  method=post>
      <p>
          Unfollow user with ID:
          <input type=text name=userId size=40> &nbsp;
          or with username: &nbsp;
          <input type=text name=username size=40>
          <button type="submit" class="btn btn-danger">Unfollow</button>
      </p>
    </form>
  </div>

  <div class="container-fluid" style="border-style: solid; border-color: #F2F2F2; width: 50%; ">
    <h3 style="font-weight: bold;">Mis tweets</h3>

      <br>
    # Si hay tweets mostrarlos
  </div>
    
{% endblock %}
